---
layout: page
title: Agenda
---

{% assign eventos = site.agenda %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Próximos eventos</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row row-centered">

      {% for evento in eventos %}
	
      <div class="col-lg-4 col-md-6 col-sm-12 col-centered text-center wow bounceIn taller-box">
        <div class="proximo-taller-box" style="background-image: url({{taller.taller_imagen}})">
          <div class="proximo-taller-box-info">
            <h3>{{ evento.title }}</h3><br>
            {{evento.dia}} de {{evento.mes}} de {{evento.ano}}<br><br>
            {{evento.resumen}}<br><br>
            Inscripción previa: {{evento.inscripcion}}<br><br>
           
            {% if evento.imagen %}
            <a href={{evento.url}} title="HTML link image example">
              <img 	alt="imagen del evento" 
                src={{evento.imagen}}
                width="120" 
                height="100"                 
                style="border:5px solid #3a9c21" />
            </a>

            {% else %}
            <a href={{evento.url}} title="HTML link image example">
              <img 	alt="imagen del evento" 
                src="..\assets\img\logonuevo.png" 
                width="120" 
                height="100"                 
                style="border:5px solid #3a9c21" />
           
            {% endif  %}
            <br><br>
           
            <a href="{{ evento.url }}" class="btn btn-primary btn-xl page-scroll "><i class="fa fa-info-circle"></i>
              detalles</a>
              <hr> 

          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
</section>