---
layout: page
title: Agenda
---

{% assign eventos = site.agenda | sort: "start-date" | reverse  %}
<section>
  <div class="container-fluid">
    <div class="row row-centered">
      {% for evento in eventos %}
      <div class="col-10 col-lg-6 wow bounceIn">
        {% include card_event.html %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<br>
<hr class="seccion-fullwidth">
<section class="seccion-fullwidth banda-parallax">
  <div class="banda-parallax-inner">
    <img
      src="{{ '/assets/img/otros/wcseco2.jpg' | absolute_url }}"
      alt="Patitos en el agua"
      class="banda-parallax-img"
    >
    <!-- Contenido opcional encima -->
    <div class="banda-parallax-content">
      <!-- Si no quieres texto, borra este bloque -->
      <h2 class="letralogo">Sumate al canal de Telegram <i class="fab fa-telegram-plane" style="margin-right:6px;"></i></h2> 
      <p>y recibirás info de los siguientes eventos</p><br>
       <a href="https://t.me/torreescribana/" target="_blank" class="btn-te">
        <i class="fab fa-telegram-plane" style="margin-right:6px;"></i>
            Torre Escribana
        </a>
    </div>
  </div> 
</section>
<hr class="seccion-fullwidth">